#homepage h1{
    text-align: center;
    color: #2e2e2ed0;
    /* border: solid; */
    margin: 0;
    font-size: 175px;
    font-weight: 400;
}
#homepage h2{
    text-align: center;
    font-style: italic;
    color: #2e2e2eb4;
    /* border: solid; */
    margin: 0;
    margin-bottom: 7.5%;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2.5px;

}

#mainpage{
    /* border: solid; */
    color: green;
    display: flex;
    flex-direction: column;
}

#homepage{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    
}

#scroll_down{
    margin: 0 auto;
    width: 2.5vw;
    aspect-ratio: 0.9/1.15;
    background-image: url('../../assets/scroll_down.svg');
    background-color: #00000000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    /* border: solid; */
    animation: jump 2s ease-in-out infinite; /* Loops forever */
}

@keyframes jump {
    0% { transform: translateY(0); }  
    50% { transform: translateY(-20px); } 
    100% { transform: translateY(0); } 
}
