#homepage h1{
    text-align: center;
    color: #2e2e2ed0;
    border: solid;

}
#homepage h2{
    text-align: center;
    font-style: italic;
    color: #2e2e2e7c;
    border: solid;
}

#mainpage{
    border: solid;
    color: green;
}

#homepage{
    border: solid;
    color: red;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}