#planner h2{
    color: #2e2e2e;
    font-weight: 400;
    
    text-align: center;
}

#planner .inter{
    font-weight: 300;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: solid;
    border-width: 1px;
}

/* Style the calendar container */
.fc {
    max-width: 1500px;
    margin: auto;
    background: #2e2e2eae;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: rgb(151, 151, 151);
}

/* Customize event background and text */
.fc-event {
    background: #d6cfe1 !important;  /* Blue color */
    color: #2e2e2e9e !important;
    border-radius: 5px;
    
    font-size: 10px;
    overflow-x: hidden;
    border: solid;
}

/* Change today's highlight */
.fc-day-today {
    background: rgba(0, 123, 255, 0.2) !important;
}

/* Customizing header buttons */
.fc-toolbar-title {
    font-size: 22px;
}

.fc-button {
    background: #d6cef120 !important;
    color: white !important;
    border: solid !important;
    border-radius: 5px;
    padding: 2.5px 5px !important;
}

/* Change event hover effect */
.fc-event:hover {
    background: #bba9d9 !important;
    cursor: pointer;
}

#planner #actions{
    /* border: solid; */
    display: flex;
    margin-top: 20px;
    place-items: center;
}

#planner #actions input{
    padding: 15px;
    font-size: 15px;
    flex: 1;
    border: none;
    border-radius: 20px;
    /* color: red; */
    margin: auto 0;
    background-color: #2e2e2e;
}

#planner #actions button{
    background-color: #00000000;
    border-radius: 10px;
    background-image: url('../../assets/send.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px;
    aspect-ratio: 1;
    padding: 0;
    margin-left: 10px;
}